body {
	padding: 0;
	margin: 0;
}
.menu {
	float: right;	
}
.menu {
       ul {
       	   li {
       	   	list-style: none;
       	   	display: inline-block;
       	   	width: 150px;
       	   	height: 120px;
            background-color: black;
       	   	text-align: center;
       	   
       	   }
       }
}
.menu {
       ul {
       	   li:hover {
       	   	background-color: yellow;
       	   }
       }
}
